<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fishingtrip.fishingtrip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Sign in activity -->
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- A child of the main activity -->
        <activity android:name=".MainMenu"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".MenuReservation"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu"/>
        </activity>

        <activity android:name=".MenuPoint"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu"/>
        </activity>

        <activity android:name=".MenuSave"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu"/>
        </activity>

        <activity android:name=".MenuInfo"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu"/>
        </activity>

        <activity android:name=".MenuWeather"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu"/>
        </activity>

        <activity android:name=".MenuTips"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu"/>
        </activity>

        <activity android:name=".DrawerDeveloper"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".DrawerSettings"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".Feedback"
            android:parentActivityName="com.fishingtrip.fishingtrip.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Feedback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

    </application>

</manifest>